# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://upxtceuqtwcribkwqlpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVweHRjZXVxdHdjcmlia3dxbHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NjI1MzQsImV4cCI6MjEwMjEzODUzNH0.6m03kl4jujt9wvU0J2VtQekOun_ZzoaRguiNMIlEH4Y
